body {
	margin: 0;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
	color:#f2f2f2 ;
}

.container1 {
	width: 80%;
	margin: 0 auto;
}

header {
  background:#f2f2f2;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
  height: 60px;
  width: 60px;
  
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.footer1{
	content: '';
	display:inline-block;
	background:#f2f2f2;
	height:150px;
	width:1360px;
	padding:20px;
}
footer p {
	 color: #444;
}
footer a {
	 color: #444;
}



